@model ParkeratFordon

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Vill du checka ut fordonet?</h3>
<div>
    <h4>ParkeratFordon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FordonsTyp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FordonsTyp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegNr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegNr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Farg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Farg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marke)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marke)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modell)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modell)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AntalHjul)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AntalHjul)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnkomstTid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnkomstTid)
        </dd>
    </dl>
    <div class="row">
        <div class="d-inline-block p-1 text-bg-primary">
            <form asp-action="Kvitto">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Checka ut med kvitto" class="btn btn-success" />
            </form>
        </div>
        <div class="d-inline-block p-1 text-bg-dark">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Checka ut utan kvitto" class="btn btn-danger" />
            </form>
        </div>
        <div class="d-inline-block p-1 text-bg-dark">
            <a asp-action="Index" class="btn btn-primary px-3 text-center">Tiilbaka till lista</a>
        </div>

    </div>

    @* <div class="container">
        <div class="row justify-content-start">
            <div class="col">
                <form asp-action="Kvitto">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Checka ut med kvitto" class="btn btn-success" />
                </form>
            </div>
            <div class="col">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Checka ut utan kvitto" class="btn btn-danger" />
                </form>
            </div>
            <div class="col">
                <a asp-action="Index" class="btn btn-primary px-5">Tiilbaka till lista</a>
            </div>
        </div>
    </div> *@
    @* <form asp-action="Kvitto">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Checka ut med kvitto" class="btn btn-success" /> 
    </form>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Checka ut utan kvitto" class="btn btn-danger" /> 
        <a asp-action="Index" >Back to List</a>
    </form> *@
    
    
</div>
